body {
    margin: auto;
    padding: 20px;
    background-color: #f1faee;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.title{
    font-size: 60px;
    color: black;
}

.container{
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   width: 700px;
   height:600px;
}

.row {
  width: 100%;
  display: flex;
  margin: 0;
}

.column {
  flex: 1;
  flex-wrap: wrap;
  border: 0.1px solid rgba(0, 0, 0, 0.062);
  background-color: #689091;
  
}

.flex{
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.game{
    width: 90%;
    margin: 0px 50px;
}

.red{
    background-color: #5d8283;
    border: solid #d63644 30px;
    border-bottom: solid #e63946 100px;
    border-radius: 10px 10px 0px 0px;
}

/*Source: https://codepen.io/t_afif/pen/abKyJNJ */
button{
    --c:  #229091; 
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
         var(--_g) calc(var(--_p,0%) - 100%) 0%,
         var(--_g) calc(200% - var(--_p,0%)) 0%,
         var(--_g) calc(var(--_p,0%) - 100%) 100%,
         var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    margin: 20px;
   }
    
button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
}
button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}

button {
    font-family: system-ui, sans-serif;
    font-size: 3.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
  }
/*Source: https://codepen.io/t_afif/pen/abKyJNJ */

.animation {
      animation: shake 0.4s;
      animation-iteration-count:1;
    }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .slider {
    appearance: none;
    width: 90%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
  }

  .slidercontent{
    flex-direction: column;
  }