body {
    margin: auto;
    padding: 20px;
    background-color: rgb(233, 232, 230);
}

.container{
    margin: 0;
}

.row {
    display: flex;
}

.column {
    flex: 1 1 auto;
    border: 0.2px solid rgba(0, 0, 0, 0.61);
    padding: 1rem 0;
    background-color: rgb(104, 144, 145);
}

.fill {
    background-color: rgba(0, 0, 0, 0.808);
}

.flex{
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.red{
    border: solid #b83838 30px;
    border-bottom: solid #da4040 100px;
}