body {
    margin: auto;
    padding: 20px;
    background-color: #f1faee;
    font-family: 'Rubik 80s Fade', cursive;
}

.title{
    font-size: 60px;
    color: #1d3557;
}

.container{
    margin: 0;
}

.row {
    display: flex;

}

.column {
    flex: 1;
    border: 0.2px solid rgba(0, 0, 0, 0.61);
    padding: 0.5em;
    background-color: #689091;
    width: 100%;
  

}

.fill {
    background-color: #1d1d1d;
}

.flex{
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.red{
    border: solid #d63644 30px;
    border-bottom: solid #e63946 100px;
}

button{
    --c:  #229091; /* the color*/
       
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
         var(--_g) calc(var(--_p,0%) - 100%) 0%,
         var(--_g) calc(200% - var(--_p,0%)) 0%,
         var(--_g) calc(var(--_p,0%) - 100%) 100%,
         var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    margin: 20px;
   }
    
button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
}
button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}

button {
    font-family: system-ui, sans-serif;
    font-size: 3.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
  }

.animation {
      animation: shake 0.8s;
      /* When the animation is finished, start again */
      animation-iteration-count:1;
    }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  